/* HomePage.css */

.homepage {
    background-color: #78A083;
    min-height: 100vh; /* Ensure the background color covers the entire viewport */
    display: flex;
    flex-direction: column;
  }
  
  .container {
    background-color: white;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto; /* Center container horizontally */
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
  }
  
  h1, p {
    text-align: center;
  }
  